@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .bg-main {
    @apply bg-red-700;
  }
  .text-main {
    @apply text-red-700;
  }
  .text-main-dark {
    color: #fff;
  }
  .text-main-light {
    @apply text-gray-800;
  }
  .bg-body-dark {
    background-color: #1a1a1a;
    @apply text-main-dark;
  }
  .bg-body-light {
    background-color: #f3f4f6;
    @apply text-main-light;
  }
}

body {
  @apply bg-body-dark;
}
